/*Hjemmeside*/
body {
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
}
.button-containers {
    position: absolute;
    top: 2%;
    right: 5%;
    color: white;
    display: flex;
    margin-right: 5%;
    justify-content: space-between;
}

#loggetInn{
    color: white;
    font-size: 1.5rem;
    margin: 10px;
    position: relative;
    user-select: none;
}

.dropdownhome {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
    background-color: rgb(11, 10, 10);
    padding: 10px;
    border-radius: 5px;
    user-select: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 8px 16px 0px rgba(207, 189, 189, 0.2);
    z-index: 1;
    user-select: none;
}

.dropdown-item {
    margin: 4%;
    padding: 10px;
    color: rgb(255, 248, 248);
    user-select: none;
}

.dropdown-item:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.foundBtn{
    margin: 20px;
    color: rgb(255, 255, 255);
    font-size: 1.9rem;
    font-weight: 600;
    position: relative;
    background-color: black;
    border: gray groove;
}

.foundBtn:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 5px white;
}

.allBtn{
    margin: 20px;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 1.9rem;
    font-weight: 600;
    background-color: black;
    border: gray groove;
}

.allBtn:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 5px white;
}

.fugledex{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 2%;
}

input {
    border-radius: 5px;
    font-size: 1.5rem;
}

.search-container {
    position:absolute;
    top: 5%;
    left: 2%;
    display: flex;
    margin-right: 100%;
}

.icon{
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.icon:hover{
    transform: scale(1.2);
}

label{
    display: flex;
}

.bird-container {
    position: absolute;
    top: 25%;
    left: 2%;
    width: 250px;
    height: 370px;
    background-color: silver;
    padding: 20px;
    border-radius: 10px;
}

.leaderboard-container {
    position: absolute;
    top: 25%;
    right: 2%;
    width: 350px;
    height: 300px;
    background-color: silver;
    padding: 20px;
    border-radius: 10px;
}

.leaderboard-info {
    margin-left: 35%; 
    font-size: 20px; 
    color: gray; 
}
