body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    padding: 0px;
    background-size: cover;
    overflow: hidden;
    background: no-repeat fixed 100% 100%;
    user-select: none;
    cursor: url('cursor-1.png'), auto; 

}

.campGreenBird
{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 50%);
    cursor: url('cursor-1.png'), auto; 
}

.overskrift 
{
    font-size: 3.5rem;
    font-weight: 700;
    color: burlywood;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-shadow: 0 10px 5px black;
    cursor: url('cursor-1.png'), auto; 
}

.knapp 
{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: xx-large;
    background-color: burlywood;
    border-radius: 20px;
    cursor: url('cursor-1.png'), auto; 
}

.knapp:hover
{
    color:wheat;
    box-shadow: 0 0 10px 5px wheat;
    cursor: url('cursor-1.png'), auto; 
}